/* 스타일 초기화 */
* { margin: 0px ; padding: 0px ; }
/*  별표는 와일드카드로서 모든 설정에 해당한다는 것임 */
header, body, footer { font-size: 14px; font-family: 나눔고딕,굴림,돋음,'Times New Roman',serif; width: 100%; }
/* 폰트패밀리는 글자체*/
header, footer { text-align : center ; }
body { margin: auto; }
footer { position: fixed; bottom: 0px; }

/* 공통 스타일 */
h1 { padding: 15px; font-size: 30px ; color: white; }
h2 { font-size: 15px; color: white; }
h3 { margin: 10px; font-size: 15px; color: green; text-shadow: 4px 4px 7px green; }
h1, h2 { background-image: url(bg.jpg); background-repeat: repeat-x; }

img { border: 0; padding: 2px; }

nav { margin: 5px 5px; }
nav > span > a { font-style: bold; margin: 0 ; padding: 3px; border: 2px solid purple; float: right; text-decoration: none; background: purple; color: white; }
/* > 기호는 직계자손을 의미함 */
/* nav 태그안쪽에 있는 span스팬태그와 그아래에 있는 a태그에 적용 */
/* nav태그아래 span, a태그가 있는 패턴이 근처에 여러개 있을때 */
/* 지금처럼 >를 표시해서 직계자손, 혹은 부모태그로서 자식태그에 스타일적용하라는 표식임 */

nav > span > a:hover { background: #ff00ff; color: white; }
@media only screen and (min-width: 321px) and (orientation: landscape) {
   section { width: 80%; float: left; }
   aside { width: 20%; text-align: center; float: right; }
   footer { clear: both; }
}

/* 스크린 출력하는 것 외에 종이출력같은 것도 가능하게 해줌
print 
*/


/* @media는 미디어쿼리라고 해서 어떠한 형태의 화면에서 본인이 만드는 컨텐츠를 보여줄것인지 결정 */
.content  { clear: both; }
/* 클리어속성의 보스는 위쪽의 정렬상태를 무시하고 새로운 정렬설정을 하려고 할때 채택하는 속성임. */
.section1 ul li { list-style-position: inside; list-style-image: url("li.jpg"); }

/* mintro.html 적용 스타일 */
#stu-pic { width: 6em; height: 8em; float: left; }
/* 1 em단위는 해당글자체의 대문자M의 너비와 같다 */
/* float: left; 플로트는 정렬속성임. 객체들의 정렬 */
/* 사진이나 테이블과 같은 덩어리째 취급되는 대상들을 정렬할때 사용 */


/* minfo.html 적용 스타일 */
#year-table { table-layout: auto; width: 80%; border-collapse: seperate; }
#year-table thead { background: #E4F2D0; }
#logo { position: fixed; top:130px; left: 70px; opacity: 0.3; } 

/* mstudy.html 적용 스타일 */
video { margin: 5px; width: 300px; height: 200px; }

/* mcareer.html 적용 스타일 */
.semi-pic { width: 4em; height: 3em;  }
#pic-container { overflow: hidden; }
#pic-container:hover { height: 220px; }
#pic1:hover { -webkit-transform: translate(150px,50px) scale(7,7); transform: scale(0.5); }
/* 트랜스폼은 형태를 변화시켜주는 속성, 0.5배로 확대됨
/* hover속성은 마우스를 pic1에 올려놨을때 작동함*/
/* webkit은 접두어임 웹킷이라고 부르는데*/
/* 현재의 코드가 크롬 맥브라우저등에서 잘 실행이 안될때  */
/* 정확히 실행되라고 타겟을 걸어준거임*/

#pic2:hover { -webkit-transform: translate(100px,50px) scale(7,7) ; transform: scale(0.5); }
#pic3:hover { -webkit-transform: translate(30px,50px) scale(7,7); transform: scale(0.5); }